<div class="container my-4 p-2">
<h2 class="text-center">Shopping list</h2>
<div class="row mt-3">
<div class="col-6">
<h2>Amount of food items to buy:</h2>
</div>
<div class="col-6">
<h2>Total value of food needed</h2>
</div>
</div>
<div class="mt-4">
<table class="table table-striped table-bordered border-danger">
  <thead>
    <tr>
       <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">price</th>
    </tr>
  </thead>
  <tbody>
   <% @foods.each do |f| %>
    <tr>
      <td><%= f.name %></td>
      <td><%= f.measurement_unit %></td>
      <td><%= f.price %></td>
    </tr>
     <%end%>
  </tbody>
</table>
</div>
</div>
