<section class="container mt-4 p-2">
<% @inventory.each do |i| %>
<div class="row border border-dark my-3 p-3">
  <div class="col-4">
  <%= link_to inventory_path(i.id) do%>
 <h4><%= i.name %></h4>
 <%end%>
  <%=button_to 'Remove', inventory_path(i.id), :method => :delete, class: 'btn btn-outline-danger'%>
  </div>
  <div class="col-8">
  <h6>Lorem guy Lorem guy Lorem guy Lorem guy</h6>
  </div>
</div>
<%end%>
</section>
