
<main class="container p-2 mt-4">
<h2 class="text-center"><%= @user.name %>' store</h2>

<div class="text-end my-2">
<%=link_to 'Add Food', new_inventory_path, class: 'btn btn-primary mx-2'%>
</div>
<table class="table table-striped table-bordered border-danger">
  <thead>
    <tr>
       <th scope="col">Food</th>
      <th scope="col">Quantity</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
   <% @inventories.each do |i| %>
    <tr>
      <td><%= i.name %></td>
      <td>kk</td>
      <td><%=button_to 'Delete', inventory_path(i.id), :method => :delete, class: 'btn btn-outline-danger'%></td>
    </tr>
     <%end%>
  </tbody>
</table>
</main>
